.header
  = image_tag 'avatar.png', :class => "header--avatar"
  %ul.header--nav
    %li.header--nav__content="  "
    %li.header--nav__content="  "

.subheader
  Your top movies

.number.number--first
  1

.gradient


.footer
  %ul.movie
    - @movies.drop(1).each do |movie|
      %li
        = image_tag movie.poster
        .number.number--not_first= movie.ranking

.edit
  ✎
