* {
  @apply box-border m-0 p-0;
}

html, body {
  @apply h-screen w-screen overflow-hidden
  bg-[url("../../assets/images/citizen_kane.jpg")] bg-no-repeat bg-contain
  font-['Montserrat'] text-white text-base;
}

.header {
  @apply h-[60px] w-full
  bg-black/[0.8] flex flex-row items-center;
  &--avatar {
    @apply h-[40px] w-[40px] ml-[10px] rounded-sm shadow-md;
  }
  &--nav {
    @apply ml-[70%];
    &__content {
      @apply inline px-[7.5px];
    }
  }
}

.subheader {
  @apply h-[40px] flex items-center bg-black/[0.785] indent-[11px];
}

.number {
  @apply flex items-center justify-center float-right bg-black/[0.6];
  &--first {
    @apply h-[50px] w-[50px] mt-[18px] mr-[10px];
  }
  &--not_first {
    @apply h-[40px] w-[40px] absolute top-0 right-0;
  }
}

.gradient {
  @apply absolute bottom-1/4 h-1/4 w-full
  bg-gradient-to-b from-black/[0.25] to-black;
}

.footer {
  @apply h-1/3 w-full bg-black absolute bottom-0 flex items-center  overflow-x-scroll whitespace-nowrap;
}

.movie {
  @apply absolute w-auto flex items-center list-none;
  >li {
    @apply relative w-[125px] mx-[15px];
  }
}

.edit {
  @apply flex items-center justify-center bg-white
  absolute bottom-[15px] right-[15px] w-[60px] h-[60px]
  rounded-full text-[#444444] text-[45px] scale-x-[-100%];
}
